{% block body %}

    <div class="row">
        {% for championship in championships %}
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ championship.name }}</h3>
                    </div>
                    <div class="panel-body">

                        {% for race in championship.races %}
                            {{ race.name }}<br>
                        {% endfor %}

                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn-xs btn-success" value="Editer"
                               onclick="location.href = '{{ path('championship_edit', {'id': championship.id}) }}';">
                        <input type="button" class="btn-xs btn-info" value="Détail"
                               onclick="location.href = '{{ path('race_championship_show', {'id': championship.id}) }}';">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <input type="button" class="btn btn-success" value="Ajouter une compétition"
           onclick="location.href = '{{ path('championship_new') }}';">

{% endblock %}