<div class="col-xs-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ competition.name }}</h3>
        </div>
        <div class="panel-body">

            {{ competition.ville }} du {{ competition.dateStart|date("d/m/Y") }} au {{ competition.dateEnd|date("d/m/Y") }}<br>
            Organisé par {{ competition.organizer.name }}<br>

            {% for race in competition.races %}
                <span style="margin-left: 1em" >{{ race.name }}</span><br>
            {% endfor %}

        </div>
        <div class="panel-footer">
            <input type="button" class="btn-xs btn-info" value="Détail"
                   onclick="location.href = '{{ path('competition_show', {'id': competition.id}) }}';">
        </div>
    </div>
</div>