<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WS{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}"/>
    {% endblock %}

    <script src="{{ asset('js/jquery.min.js') }}"></script>
</head>

<body>

{% include 'navbar/general.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% if is_granted('ROLE_ORGANIZER') %}
    <div id="organizer_menu">
        {% block organizer_menu %}
        {% endblock %}
    </div>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <div id="admin_menu">
        {% block admin_menu %}
        {% endblock %}
    </div>
{% endif %}


</div>

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}
</div>
</div>

<hr>

<footer>
    <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
</footer>
</div>

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

</body>
</html>
