<div class="row">
    {% for race in races %}
        <div class="col-xs-6">
            <div class="panel panel-default" {% if race.inChampionship == true %} style="border-color: #718C00" {% endif %}>
                <div class="panel-heading" {% if race.inChampionship == true %} style="background: #718C00" {% endif %}>
                    <h3 class="panel-title" >{{ race.name }}</h3>
                </div>
                <div class="panel-body">
                    Départ le {{ race.date|date("d/m/Y") }} à {{ race.time|date('H:i') }}<br>
                    Distance : {{ race.km }}<br>
                    Catégories :<br>
                    {% for category in race.categories %}
                        <span style="margin-left: 1em">{{ category.name }} {{ category.sexe }} {{ category.ageMax }} / {{ category.ageMin }}</span><br>
                    {% endfor %}

                </div>
                <div class="panel-footer" >
                    {% if isOrganizer == true %}
                        <input type="button" class="btn-xs btn-success" value="Editer"
                               onclick="location.href = '{{ path('race_edit', {'id': race.id}) }}';">
                    {% endif %}
                    <input type="button" class="btn-xs btn-info" value="Détail"
                           onclick="location.href = '{{ path('race_show', {'id': race.id}) }}';">
                    {% if is_granted('ROLE_COMPETITOR') %}
                        {% if race.competitorCanEntry %}
                            <input type="button" class="btn-xs btn-info" value="S'inscrire"
                                   onclick="location.href = '{{ path('app_competitor_addrace', {'race': race.id}) }}';">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>