{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}
    <h1>Test 2</h1>

    {% for r in test %}
        <h1>{{ r.category.name }}</h1>
        {% for competitor in r.competitors %}
           {{ competitor.number }} {{ competitor.firstName }} {{ competitor.lastName }} {{ competitor.chrono|date('H:i:s') }} <br>
        {% endfor %}
    {% endfor %}
{% endblock %}